<a href="https://colab.research.google.com/github/disha2101/GirlScript_ML/blob/main/Practice_on_Dataset_(ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
cd '/content/drive/My Drive/GirlScript_Database/'

/content/drive/My Drive/GirlScript_Database

In [29]:
ls

student-mat.csv

In [30]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import os

In [28]:
mathdata=pd.read_csv('student-mat.csv',sep=';')

In [22]:
mathdata.head(10)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

In [20]:
mathdata.tail()

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[5 rows x 33 columns]

In [35]:
print('school : ',mathdata.school.unique())
print('sex : ',mathdata.sex.unique())
print('address : ',mathdata.address.unique())
print('Mjob : ',mathdata.Mjob.unique())
print('Fjob : ',mathdata.Fjob.unique())
print('higher : ',mathdata.higher.unique())

school :  ['GP' 'MS']
sex :  ['F' 'M']
address :  ['U' 'R']
Mjob :  ['at_home' 'health' 'other' 'services' 'teacher']
Fjob :  ['teacher' 'other' 'services' 'health' 'at_home']
higher :  ['yes' 'no']

In [41]:
#convert the categories into numbers 

#binary valued

mathdata['school'] = mathdata['school'].apply({'GP':1, 'MS':2}.get)
mathdata['sex'] = mathdata['sex'].apply({'F':1, 'M':2}.get)
mathdata['address'] = mathdata['address'].apply({'U':1, 'R':2}.get)
mathdata['higher'] = mathdata['higher'].apply({'yes':1, 'no':2}.get)


#multi-valued
mathdata['Mjob'] = mathdata['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathdata['Fjob'] = mathdata['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathdata.head(15)

   school   sex  age address famsize  ... health  absences  G1  G2  G3
0    None  None   18    None     GT3  ...      3         6   5   6   6
1    None  None   17    None     GT3  ...      3         4   5   5   6
2    None  None   15    None     LE3  ...      3        10   7   8  10
3    None  None   15    None     GT3  ...      5         2  15  14  15
4    None  None   16    None     GT3  ...      5         4   6  10  10
5    None  None   16    None     LE3  ...      5        10  15  15  15
6    None  None   16    None     LE3  ...      3         0  12  12  11
7    None  None   17    None     GT3  ...      1         6   6   5   6
8    None  None   15    None     LE3  ...      1         0  16  18  19
9    None  None   15    None     GT3  ...      5         0  14  15  15
10   None  None   15    None     GT3  ...      2         0  10   8   9
11   None  None   15    None     GT3  ...      4         4  10  12  12
12   None  None   15    None     LE3  ...      5         2  14  14  14
13   None  None   15    None     GT3  ...      3         2  10  10  11
14   None  None   15    None     GT3  ...      3         0  14  16  16

[15 rows x 33 columns]